{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-2 col-lg-1 ">
        logo
        <img src="{% static "image/location.png" %}" height="300px">
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-11 ">
        Tool Description
    </div>
</div>
<div class="row">

    <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 ">
        <h1>WGS 84</h1>
        <form method="post" action="{% url 'coordConv' %}">
            {% csrf_token %}
            <div class="form-group">
                <label>X Coordinate</label>
                {{ wgs_form.lattitude }}
            </div>
            <div class="form-group">
                <label>X Coordinate</label>
                {{ wgs_form.longitude }}
            </div>

            <button type="submit" class="btn btn-primary mt-2" name="typeForm" value="wgs">Convert WGS</button>
        </form>
    </div>

    <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 ">
        <h1>UTM</h1>
        <form method="post" action="{% url 'coordConv' %}">
            {% csrf_token %}
            <div class="form-group">
                <label>X Coordinate</label>
                {{ utm_form.x }}
            </div>
            <div class="form-group">
                <label>Y Coordinate</label>
                {{ utm_form.y }}
            </div>
            <div class="form-group">
                <label>UTM Zone</label>
                {{ utm_form.zone }}
            </div>
            <button type="submit" class="btn btn-primary mt-2" name="typeForm" value="utm">Convert UTM</button>
        </form>
    </div>

    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4 ">
        <h1>batch file</h1>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">WGS 84</label>
                <input type="file" class="form-control my-1" id="WGSBatch" aria-describedby="Choose your file" placeholder="Choose your file">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">UTM</label>
                <input type="file" class="form-control my-1" id="UTMBatch" aria-describedby="Choose your file" placeholder="Choose your file">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary mt-2">Download Template</button>
                <button type="submit" class="btn btn-primary mt-2">Convert</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}

{% block script %}

{% endblock %}